.body {
    font-family: 'Roboto', sans-serif;
    
}
* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 0px 110px 115px;
    background-color: rgb(155, 238, 224);
}
.main {
    border: 1px solid rgb(49, 9, 224);
    padding: 0px 110px 300px;
    background-color: rgba(188, 233, 225, 0.39);
   
}
.font-size {
    font-size: 30px
}
:root {
    --main-blue: #c0e711;
    }
    .color {
      background-color: var(--main-blue);
    }
    .colors {
      background-color: var(--main-blue);
    }
.footer {
    border: 1px solid rgb(3, 92, 33);
}
.container {
    position: relative;
    top: 100px;
    left: 100px;
    
}
 @keyframes color-change {
    0% {
      color: blue;
    }
  
    30% {
      color: green;
    }
    60% {
      color: yellow;
    }
    100% {
        color: blue;
    }
    }
    .happy {
        animation: color-change 10s infinite;
    }





